<div class="form">
    <h2>Form</h2>
    <form action="" [formGroup]="formdata">
        <mat-form-field class="width-increase">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <!-- <input type="text" formControlName="name" placeholder="Name"> -->
        <br>
        <mat-form-field class="width-increase">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
        <!-- <input type="text" formControlName="email" placeholder="Email"> -->
        <br>
        <mat-form-field class="width-increase">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput>
        </mat-form-field>
        <!-- <input type="text" formControlName="phone" placeholder="Phone"> -->
        <br>
        <mat-form-field class="width-increase">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput>
        </mat-form-field>
        <!-- <input type="text" formControlName="address" placeholder="Address"> -->
        <br>
        </form>
        <br>
        <div *ngIf="showSpinner" style="display: flex;justify-content: center;">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
        <button class="btn" mat-flat-button (click)="onSubmit()">{{type=='add'?'Save':type=='edit'?'Update':'OK'}}</button>
        <br>
        <br>
        <!-- *ngIf="type!='view'" -->
        <!-- <button class="btn" mat-flat-button *ngIf="type=='add'" (click)="gotoTable()"> Go To Table </button> -->
</div>
