<p>Nav Bar</p>
<div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <button [ngStyle]="{'color':tableFlag?'#0257AE':'black','background-color':tableFlag?'#AFC3DC':'white','border-radius':tableFlag?'20px':'0px'}" class="btn" (click)="onTableClick()" mat-raised-button>
        Table
      </button>
    
      <!-- <br> -->
      <button [ngStyle]="{'color': formFlag?'#0257AE':'black','background-color': formFlag?'#AFC3DC':'white','border-radius': formFlag?'20px':'0px'}" class="btn" (click)="onFormClick()" mat-raised-button>
        Form
      </button>
    </mat-drawer>
  
    <div>
      <button type="button" mat-button (click)="drawer.toggle()">
        Show/Hide Slide
      </button>
    </div>

    <router-outlet></router-outlet>
  
</mat-drawer-container>


  
</div>