 
<table border="2">
    <thead>
        <tr >
            <th *ngFor="let h of headers">{{h.label}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of FormRecords;let i=index">
            
            <td *ngFor="let c of headers">
                @if(c.key!='actions'){
                    {{element[c.key]}}
                }@else {
                    @for (a of actions; track $index) {
                        <button (click)="onActionClick(element.id,a.key)">{{a.label}}</button>
                    }
                }

                
            </td>

            <!-- <td>{{rowArray[0].id}}</td>
            <td>{{rowArray[0].name}}</td>
            <td>{{rowArray[0].email}}</td>
            <td>{{rowArray[0].phone}}</td>
            <td>{{rowArray[0].address}}</td>
            <td>{{rowArray[0].education}}</td>
            <td><button (click)="onView(rowArray[0].id,'view')">View</button>
            <button (click)="onEdit(rowArray[0].id,'edit')">Edit</button>
            <button (click)="onDelete(i)">Delete</button></td> -->
        </tr>
    </tbody>
</table>