$bg-color: rgb(232, 228, 228);
$white-color:white;
$font:Arial;

*{
    font-family: $font;
}

body{
    background-color: $bg-color;
}

i{
    font-size: 25px;
}

.main{

    display: flex;
    flex-wrap: wrap;

.main-nav{

    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px 10px 10px 10px;
    background-color: $white-color;
    border-radius: 10px;
    .logo{
        text-align: center;
        img{
            width: 120px;
            @media screen and (max-width:602px){
                width: 70px;
            }
        }
        margin-bottom: 10px;
    }
    .menu-item{
        display: flex;
        flex-wrap: wrap;
        padding: 15px 15px 15px 15px;
        margin-left: 10px;
        // border: 2px solid red;
        gap: 5px;
        align-items: center;
        font-size: 15px;
        color: #2D3748;
        ;
        @media screen and (max-width:630px){
            font-size: 10px;
        }
        // i{
        //     // font-size: 25px;
        // }
    }
    .logout{
        display: flex;
        border-radius: 16px;
        border: 1px solid black;
        text-align: center;
        align-self: center;
        padding: 4px 10px 4px 10px;
        justify-content: center;
        gap:3px;


    }

}

@media screen and (max-width:714px) {
    .main-nav{
        width: 98%;
        align-items: center;
    }
    
}

.main-content{
    display: flex;
    width: 77%;
    flex-direction: column;

    .detail{
        display: flex;
        width: 97%;
        padding:10px 18px 10px 18px;
        align-items: center;
        gap: 9px;

        img{
            width: 22px;
        }
    }

    .main-summary{
        display: flex;
        flex-direction: column;
        background-color: $white-color;
        border-radius: 10px;
        margin-left: 15px;
        // border: 1px solid green;
        padding: 10px 12px 12px 12px;
        // height: 100%;
        .summary{
            strong{
            color: #A42F23;
            }
            padding:10px 18px 10px 18px;
            // border: 1px solid black;
        }
        .main-info{
            display: flex;
            flex-direction: column;
            background-color: $bg-color;
            // border: 1px solid red;
            border-radius: 10px;
            padding-bottom:10px;
            margin-bottom: 10px;
            div{
                display: flex;
                gap: 10px;
                margin: 8px 10px 8px 10px;
                align-items: center;
                .avatar-info{
                background-image: url(img/profile.jpg); 
                background-size: cover; 
                background-position: center;
                background-repeat: no-repeat; 
                text-align: center; 
                line-height: 100px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
            }
        }
        .main-card{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            > * {
                min-width: fit-content;
                flex: 1;
              }
        .card{
            display: flex;
            flex-direction: column;
            background-color: #A42F23;
            padding: 10px 80px 10px 10px;
            
            border-radius: 10px;
            text-align: left;
            
            p{
                strong{
                    margin-right: 5px;
                    font-size: 18px;
                }
                margin: 10px 5px 5px 5px;
                padding: 0;
                font-size: 14px;
            }
            
            img{
                display: block;
                width: 35px;
            }
            strong{
                color: $white-color;
            }
            span{
                color: $white-color;
            }
            p{
                color: $white-color;
            }
            
        }

        #card-1{
            background-color: #B35248;
        }

        #card-2{
            background-color: #016FD0;
        }
        #card-3{
            background-color: #4A76B4;
        }
        #card-4{
            background-color: #09C97F;
        }
    }
        }

        .main-variety{
            display: flex;
            flex-direction: column;
            background-color: $bg-color;
            // border: 1px solid red;
            border-radius: 10px;
            padding:4px 8px 4px 8px;
            margin-bottom: 10px;
            gap: 10px;
            p{
                display: flex;
                strong{
                    color: #A42F23;
                }
                margin: 10px;
                align-items: center;
                
            }
            .main-check{
                display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 70px;
           span{
            p{
                display: flex;
                margin: 10px;
                align-items: center;
                
            }
        }
        span{
            display: flex;
            flex-direction: column;
            text-align: center;
            // p{
            //     margin: 10px;
            // }

            i{
                margin: 7px;
                color: grey;
            }
            span{
                border-radius: 12px;
                background-color: #265BA5;
                color: white;
                font-size: 12px;
                padding:  4px 7px 4px 7px;
                margin: 7px ;
            }
        }
    }
        }

        .person{
            display: flex;
            border-radius: 10px;
            color: $white-color;
            background-color: #A42F234D;
            height: 30px;
            align-items: center;
            padding: 5px;
            align-self: self-start;
        }

      
    }


}
@media screen and (max-width:714px) {
    .main-content{
        width: 98%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }    
}





}

.header{
    display: flex;
    justify-content: space-between;
    // border-radius: 2px solid white;
    background-color: $white-color;
    // height: 10%;
    width: 97%;
    align-items: center;
    padding:10px 18px 10px 18px;
    margin-left: 15px;
    border-radius: 10px;
    // .strong{
    //     // width: 50%;
    // }
    .profile{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .avatar{
            display: inline-block; 
        background-image: url(img/profile.jpg); 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        text-align: center; 
        line-height: 100px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            // img{
            //     width: 50px;
            //     vertical-align: middle;
            // }
        }
        span{
            i{
                font-size: 10px;
                
            }
        }
        span{

            display: block;
            strong{
               display: block;
                font-size: 12px;
            }
            p{
                font-size: 10px;
                color: grey;
                margin: 3px;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width:715px) {
    .header{
        width: 100%;
        margin: 10px 0px 0px 0px;
        padding: 5px;
    }    
}

#gradient-color{
    // background:linear-gradient(to right,)
    background: linear-gradient(90deg, #265BA5 0%, #0F233F 100%);
    color: $white-color;
    border-radius: 10px;
}

// .main{
//     ::backdrop {
//     background-color: rgb(66, 62, 62);
//     opacity: 0.9;
//   }
// }
#btn{
    border: 0px;
    background-color: white;
    cursor: pointer;
}

#dialog-box{
    border-radius: 10px;
    border: white;
    text-align: center;
    padding: 10px 30px 10px 30px;

    .btn-right{
        text-align: right;
        width: 100%;
    }
    #close-btn{
        float: right;
        border-radius: 50%;
        border: none;
        padding: 6px 10px 6px 10px;
        cursor: pointer;
        margin-top: 10px;
        background-color: rgb(192, 187, 187);
        text-align: center;
    }
    // button{
    //     text-align: right;
    // }
    p{
        text-align: center;
        margin: 12px 7px 12px 7px;
        font-size: 18px;
    img{
       
        width: 50px;

    }
}
#save{
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    background-color: #265BA5;
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
}
i{
    position: absolute; transform: translateX(-140%);
    font-size: 18px;
    margin-top: 5px;
}
}
#left-margin-label{
    margin-left: 150px;
}
#date-percent{
    margin:14px 0px 5px 0px;
    text-align: left;
}
.input-text{
    border-radius: 7px;
    height: 25px;
    padding: 0px 7px 0px 7px ;

}
.center-name{
    text-align: center;
}
